In [17]:
#Install opendatasets library
#Python’s opendatasets library is used for downloading open datasets from platforms such as Kaggle.
!pip install opendatasets

Requirement already satisfied: opendatasets in d:\paytonana\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in d:\paytonana\lib\site-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in d:\paytonana\lib\site-packages (from opendatasets) (1.6.3)
Requirement already satisfied: click in d:\paytonana\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: colorama in d:\paytonana\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in d:\paytonana\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in d:\paytonana\lib\site-packages (from kaggle->opendatasets) (2023.11.17)
Requirement already satisfied: python-dateutil in d:\paytonana\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in d:\paytonana\lib\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in d:\paytonana\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in d:\paytonana\lib\site-packages (from kaggle->opendatasets) (1.26.16)
Requirement already satisfied: bleach in d:\paytonana\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in d:\paytonana\lib\site-packages (from bleach->kaggle->opendatasets) (23.1)
Requirement already satisfied: webencodings in d:\paytonana\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in d:\paytonana\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\paytonana\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\paytonana\lib\site-packages (from requests->kaggle->opendatasets) (3.4)

In [3]:
# Import the opendatasets library
import opendatasets as od

In [4]:
#On executing the below line, it will prompt for Kaggle username. Kaggle username 
#can be fetched from the Account tab of the My Profile section
#On entering the username, it will prompt for Kaggle Key. Again, go to the account tab of the My Profile section and click on Create New API Token.
#This will download a kaggle.json file.
od.download("https://www.kaggle.com/datasets/imdevskp/corona-virus-report")

Skipping, found downloaded files in ".\corona-virus-report" (use force=True to force download)

In [5]:
import pandas as pd
import sqlite3

In [6]:
# Load covid report data into a DataFrame
df = pd.read_csv("corona-virus-report/covid_19_clean_complete.csv")

# Filter and clean the DataFrame
df_transform = df[(df['Confirmed'] >1) &
                 (df['Deaths'] >= 0)]
#df_transform = df.dropna()
df_transform

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
49,Beijing,China,40.182400,116.414200,2020-01-22,14,0,0,14,Western Pacific
50,Chongqing,China,30.057200,107.874000,2020-01-22,6,0,0,6,Western Pacific
53,Guangdong,China,23.341700,113.424400,2020-01-22,26,0,0,26,Western Pacific
54,Guangxi,China,23.829800,108.788100,2020-01-22,2,0,0,2,Western Pacific
56,Hainan,China,19.195900,109.745300,2020-01-22,4,0,0,4,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [7]:
#Create/connect to a SQLite database
conn = sqlite3.connect('covid.db')

In [8]:
create_sql = '''
    CREATE TABLE IF NOT EXISTS longlat (
        "Province/State" TEXT,
        "Country/Region" TEXT,
        Lat REAL,
        Long REAL,
        "WHO Region" TEXT
    )
'''
cursor = conn.cursor()
cursor.execute(create_sql)

In [10]:
create_sql = '''
    CREATE TABLE IF NOT EXISTS country (
        "Country/Region" TEXT,
        "Date" TEXT,
        "Confirmed" INTEGER, 
        "Deaths" INTEGER,
        "Recovered" INTEGER,
        "Active" INTEGER,
        "WHO Region" TEXT,
         PRIMARY KEY ("Country/Region")
    )
'''
cursor = conn.cursor()
cursor.execute(create_sql)

In [11]:
# Insert data into the "longlat" table
df_transform[['Province/State', 'Country/Region', 'Lat', 'Long', 'WHO Region']].to_sql('longlat', conn, index=False, if_exists='replace')

# Insert data into the "country" table
df_transform[['Province/State', 'Country/Region', 'Date', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'WHO Region']].to_sql('country', conn, index=False, if_exists='replace')

37800

In [12]:
# import sqlite3

# # Replace 'your_database.db' with the actual name of your SQLite database file
# conn = sqlite3.connect('your_database.db')
# Replace 'your_table' with the actual name of the table you want to check
table_name = 'longlat'

# Fetch data from the table
query = f"SELECT * FROM {table_name}"
existing_data = pd.read_sql_query(query, conn)

# Print or examine the existing data
print(existing_data)

      Province/State         Country/Region        Lat        Long  \
0            Beijing                  China  40.182400  116.414200
1          Chongqing                  China  30.057200  107.874000
2          Guangdong                  China  23.341700  113.424400
3            Guangxi                  China  23.829800  108.788100
4             Hainan                  China  19.195900  109.745300
...              ...                    ...        ...         ...
37795           None  Sao Tome and Principe   0.186400    6.613100
37796           None                  Yemen  15.552727   48.516388
37797           None                Comoros -11.645500   43.333300
37798           None             Tajikistan  38.861000   71.276100
37799           None                Lesotho -29.610000   28.233600

                  WHO Region
0            Western Pacific
1            Western Pacific
2            Western Pacific
3            Western Pacific
4            Western Pacific
...                      ...
37795                 Africa
37796  Eastern Mediterranean
37797                 Africa
37798                 Europe
37799                 Africa

[37800 rows x 5 columns]

In [12]:
#close connection
conn.commit()
conn.close()